body {
    margin: 0;
    width: fit-content;
}

.head {
    height: 5em;
    margin: 0;
}

.p1 {
    margin-top: 2.5em;
}

.p2, .p1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.p13 {
    background-color: rgb(97, 173, 221);
    color: white;
    padding: 0.25em 1em 0;
    text-align: center;
}


h2 {
    background-color: rgb(97, 173, 221);
    color: white;
    height: 1.5em;
    margin: 2.5% 0;
    padding: 0.25em 1em 0;
}

h3 {
    font-weight: bold;
    font-size: x-large;
    margin: 0.5em;
}

img {
    /* width: 21em; */
    height: auto;
    margin: 2%;
}

img:hover {
    /* border: solid 2px rgb(97, 173, 221); */
    /* border-bottom-right-radius: 20%; */
    filter: grayscale(100%);
}

h2:hover {
    filter: brightness(1.25);
}

footer {
    background-color: rgb(97, 173, 221);
    color: white;
    height: 5em;
    margin: 0;
    text-align: center;
    padding-top: 2.5em;
}

@media screen and (max-width: 768px) {
    .head {
        background-color: red;
    }

    img {
    width: 45%;
    }

    .p1, .p2 {
        flex-flow: wrap;
    }
    
    /* .head {
        height: 5em;
        margin: 0;
    } */

    .p11, .p13 {
    min-width: 25em;

}

    .p12, .p13 {
    margin: 0 2em;
}
    
}

@media screen and (min-width: 769px) {
    .head {
        background-color: plum;
        
    }
    img {
    width: 20%;
}

    .p1, .p2 {
        flex-flow: nowrap;
    }
    
    /* .head {
        height: 5em;
        margin: 0;
    } */

    .p11, .p13 {
    min-width: 25%;
    margin: 0 2%;
}
    
}