body 
{
    background-color: blanchedalmond;
}

section 
{
    background-color: chocolate;
}

p 
{
    background-color: rgb(161, 68, 1);
}

article 
{
    background-color: tomato;
}

header 
{
    background-color: chocolate;
}

hr 
{
    background-color: brown;
}